* {
	box-sizing: border-box;
}

body {
	background-color: gray;
	width: 100%;
}

/* Entry Header */
.titlebar {
	background-color: #9999FF;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}
.additem {
	width: 70%;
	margin: auto;
	text-align: center;
}

/* Entry Lines */
.entry-lines {
	width: 70%;
	margin: auto;
	/*text-align: center;*/
}

/* Page Footer */
.page-footer {
	background-color: #9999FF;
	position: absolute;
	bottom: 5px;
	width: 100%;
	text-align: center;
}

/** {
  outline: red 1px solid;
}
*/